{% if site.enable_tooltips %}
  <!-- Enable Tooltips -->
  <script type="text/javascript">
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
  </script>
{%- endif %}

{%- if page.enable_medium_zoom != nil -%}
  {%- assign _enable_medium_zoom = page.enable_medium_zoom -%}
{%- else -%}
  {%- assign _enable_medium_zoom = site.enable_medium_zoom -%}
{%- endif -%}
{%- if _enable_medium_zoom %}
  <!-- Medium Zoom JS -->
  <script defer src="https://cdn.jsdelivr.net/npm/medium-zoom@{{ site.medium_zoom.version }}/dist/medium-zoom.min.js" integrity="{{ site.medium_zoom.integrity }}" crossorigin="anonymous"></script>
  <script defer src="{{ '/assets/js/zoom.js' | relative_url }}"></script>
{%- endif -%}

{% if page.toc and page.toc.sidebar %}
  <!-- Sidebar Table of Contents -->
  <script defer src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
{% endif %}

{%- if page.enable_bootstrap_table != nil -%}
  {%- assign _enable_bootstrap_table = page.enable_bootstrap_table -%}
{%- else -%}
  {%- assign _enable_bootstrap_table = true -%}
{%- endif -%}
{%- if _enable_bootstrap_table -%}
  <!-- Bootstrap Table -->
  <script defer src="https://unpkg.com/bootstrap-table@{{ site.bootstrap-table.version }}/dist/bootstrap-table.min.js"></script>
{%- endif -%}

  <!-- Load Common JS -->
  <script src="{{ '/assets/js/no_defer.js' | relative_url | bust_file_cache }}"></script>
  <script defer src="{{ '/assets/js/common.js' | relative_url | bust_file_cache }}"></script>
  <script defer src="{{ '/assets/js/copy_code.js' | relative_url | bust_file_cache }}" type="text/javascript"></script>
  <script defer src="{{ '/assets/js/i18n.js' | relative_url | bust_file_cache }}" type="text/javascript"></script>
